/* SELESAIKAN DARI KOMPONEN TERATAS DULU, TAMBAHKAN JAVASCRIPT JUGA! */

:root {
}

* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
}

/* font-family: 'Inter', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Rubik', sans-serif; */
body {
  height: 120vh;
  overflow-x: hidden;
  background-color: #f8f8f8;
  font-family: "Rubik", sans-serif;
}

p {
  text-align: justify;
}

.button-container{
  padding: 3vh 0;
}

/* b-1 start */
.b-1 {
  background-image: url(/templates/img/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 98vh;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 15vw;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  z-index: 999;
}

.logo {
  width: 10%;
}

.logo img {
  width: calc(6vw + 5rem);
}

.nav-menu {
  padding: 1.5rem 0;
  width: 90%;
  position: relative;
  top: 0;
  right: 0;
  left: 18vw;
}

.nav-menu a {
  display: inline-block;
  color: white;
  margin: 0 0.7vw;
  position: relative;
}

.nav-menu a::after {
  content: "";
  display: block;
  width: 100%;
  background-color: #fff;
  padding-bottom: 0.05rem;
  transform: scaleX(0);
}

.nav-menu a:hover::after {
  transform: scaleX(0.5);
  transition: 0.2s;
}

button.download {
  margin: 0 0.7vw;
  background-color: #ff2f78;
  padding: 0.2rem 0.9rem;
  color: white;
  border-radius: 1rem;
  box-shadow: 3px 3px 9px #2f2f2f;
}

button.download:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

button.download:active {
  transform: scale(1);
  transition: 0.01s;
}

#hamburger-menu {
  display: none;
}

.hero {
  padding: 10rem 19vw 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  width: 100vw;
}

.hero .hero-txt {
  color: white;
  display: inline-block;
  flex: 2 1;
  margin-right: 25%;
  padding: 10% 0 0;
  position: relative;
  width: 10%;
}

.main-img {
  display: inline-block;
  flex: 1 3;
  margin-left: 5%;
  padding: 10vh 0 0;
  position: relative;
  width: 90%;
}
/* b-1 end */

/* b-2 start */
.b-2 {
  background-image: url(/templates/img/bg-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 59vh;
  width: 100vw;
}

.section-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 8vh 19vw 0;
}
/* ketika diresize menu atas akan menutupi class ini, pake media query bwt menghidden? */
.section-flex {
  display: flex;
  flex-direction: row;
  padding: 16vh 0 0;
  width: 50%;
}

.thumbnail-left {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.thumbnail-right {
  display: flex;
  flex-direction: column;
  padding: 3vh 0;
}

.thumbnail-img {
  width: 85%;
  padding: 10% 0;
}

.stats-desc {
  flex-wrap: wrap;
  padding: 26vh 0 0;
  width: 50%;
}
/* b-2 end */

/* b-3 start */
.b-3 {
  background-image: url(/templates/img/bg-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 71.7vh;
  width: 100vw;
}

/* b-3 end */

/* Footer */
.footer{
  padding: 1vh;
  font-size: small;
  text-align: center;
}

/* 428px */
@media (max-width: 900px) {
  .main-img {
    display: inline-block;
    flex: 1 3;
    margin-left: 5%;
    padding: 0;
    position: relative;
    width: 90%;
  }

  .stats-desc {
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
  }

  /* b-1 start */
  .nav-menu {
    background-color: rgb(254, 155, 240);
    width: 45vw;
    height: 100vh;
    position: absolute;
    top: 75%;
    right: 0;
    bottom: 0;
    left: 100%; /* geser ke luar layar*/
  }

  .nav-menu.active {
    /* untuk toggle JS */
    right: 0;
    left: 55%; /* geser ke dalam layar*/
    transition: 0.2s;
  }

  .nav-menu a {
    display: block;
    position: relative;
    margin: 2.5vh 1.7vw 0;
  }

  .nav-menu .download {
    background-color: #fd9bbd;
    display: block;
    padding: 0.8vw 0;
    position: relative;
    color: white;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    font-weight: bolder;
    margin: 1vh 0;
  }

  button.download:hover {
    transform: none;
    transition: none;
  }

  button.download:active {
    transform: scale(0.9);
    transition: 0.08s;
  }

  #hamburger-menu {
    display: inline-block;
    color: #fff;
    padding: 1vh 0;
  }

  .animation:active {
    transform: scale(1.6);
    transition: 0.1s;
  }

  .hero {
    padding: 6vh calc(1vw + 1.5rem) 0;
  }

  /* b-1 end */

  /* b-2 start */
  .b-2 .section-1 {
    padding: 0 calc(1vw + 1.5rem);
  }

  .section-flex {
    display: none;
  }

  /* b-2 end */

  /* b-3 Start */
  .b-3 .section-1 {
    padding: 0 calc(1vw + 1.5rem);
  }

  .responsive-img {
    height: 70%;
  }
  /* b-3 End */

  /* b-4 Start */
  .b-4 .section-1 {
    padding: 0 calc(1vw + 1.5rem) 5vh;
  }

  /* b-4 End */
}
