:root {
}

* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
}

/* font-family: 'Inter', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Rubik', sans-serif; */
body {
  height: 120vh;
  overflow-x: hidden;
  background-color: #f8f8f8;
  font-family: "Rubik", sans-serif;
}

.b-1 {
  background-image: url(/templates/img/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 42rem;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 15vw;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  z-index: 999;
}

.logo {
  width: 10%;
}

.logo img {
  width: calc(6vw + 5rem);
}

.nav-menu {
  padding: 1.5rem 0;
  width: 90%;
  position: relative;
  top: 0;
  right: 0;
  left: 18vw;
}

.nav-menu a {
  display: inline-block;
  color: white;
  margin: 0 0.7vw;
  position: relative;
}

.nav-menu a::after {
  content: "";
  display: block;
  width: 100%;
  background-color: #fff;
  padding-bottom: 0.05rem;
  transform: scaleX(0);
}

.nav-menu a:hover::after {
  transform: scaleX(0.5);
  transition: 0.2s;
}

button.download {
  margin: 0 0.7vw;
  background-color: #ff2f78;
  padding: 0.2rem 0.9rem;
  color: white;
  border-radius: 1rem;
  box-shadow: 3px 3px 9px #2f2f2f;
}

button.download:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

button.download:active {
  transform: scale(1);
  transition: 0.01s;
}

.hero {
  padding: 13rem 19vw 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  width: 100vw;
}

.hero .hero-txt {
  color: white;
  display: inline-block;
  flex: 1 3;
  margin-right: 25%;
  padding: 10% 0;
  position: relative;
  width: 50%;
}

.hero .hero-img {
  display: inline-block;
  flex: 1 1;
  margin-left: 5%;
  position: relative;
  width: 50%;
}

.b-2 {
  background-image: url(/templates/img/bg-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 26rem;
  width: 100vw;
}

.b-3 {
  background-image: url(/templates/img/bg-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 31.6rem;
  width: 100vw;
}
