/* font-family: 'Epilogue', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Rubik', sans-serif; */

/* - Almost White: hsl(0, 0%, 98%)
- Medium Gray: hsl(0, 0%, 41%)
- Almost Black: hsl(0, 0%, 8%) */

:root {
  --white: hsl(0, 0%, 98%);
  --Gray: hsl(0, 0%, 41%);
  --black: hsl(0, 0%, 8%);
}

* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

body {
  background-color: var(--white);
  border: 0;
  font-family: "Epilogue", sans-serif;
  height: 100vh;
  outline: none;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: var(--black);
}

p {
  text-align: justify;
  color: var(--Gray);
}

a {
  color: var(--black);
}

/* Navbar start */
#navbar {
  display: flex;
  flex-direction: row;
  padding: 2.5rem 2rem;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
}

.nav-left {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  width: 50%;
}

.nav-logo {
  display: inline-block;
  margin-right: 3vw;
}

.nav-logo img.tes {
  display: inline-block;
  width: 4rem;
}

.nav-left a {
  display: inline-block;
  margin: 0 1.3vw;
}

.nav-left a:nth-child(2)::after {
  content: " ";
  background-image: url(/images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 1rem;
}

.nav-left a:nth-child(3)::after {
  content: " ";
  background-image: url(/images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 1rem;
}

.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
  width: 50%;
}

.nav-right a {
  display: inline-block;
  margin: 0 1.5vw;
}

.nav-right a:nth-child(2) {
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 0.4rem;
  border: 0.9px solid;
  color: var(--black);
}

#hamburger-menu {
  display: none;
}

/* Navbar end */

/* Hero start */
.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  margin: 1vh 0 0;
  padding: 0 8rem;
  width: 100vw;
}

.hero-txt {
  display: inline-block;
  margin-right: 9vw;
  width: calc(25vw + 5rem);
}

.hero-img {
  display: inline-block;
  margin-left: 9vw;
  width: calc(25vw + 5rem);
}

.hero-img img {
  width: calc(65% + 5rem);
}

.hero-h1 {
  font-size: 4vw;
  padding: 10vh 0 0;
}

.hero-p {
  padding: 6vh 0;
}

.hero-txt a {
  display: inline-block;
  background-color: transparent;
  margin: 0 0 5vh;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  border: 0.9px solid;
  color: var(--black);
  font-weight: bolder;
}

.partner-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.partner-links .partner-logo {
  display: inline-block;
  margin: 10vh 0 0;
  height: 50%;
  width: 15%;
}
/* Hero end */

.attribution {
  font-size: smaller;
  position: relative;
  top: 9%;
  bottom: 0;
}

/* mobile: 375px */
@media (max-width: 800px) {
  #hamburger-menu {
    display: inline-block;
    height: 1rem;
    width: 1.5rem;
  }
}
