/* font-family: 'Epilogue', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Rubik', sans-serif; */

/* - Almost White: hsl(0, 0%, 98%)
- Medium Gray: hsl(0, 0%, 41%)
- Almost Black: hsl(0, 0%, 8%) */

:root {
  --white: hsl(0, 0%, 98%);
  --Gray: hsl(0, 0%, 41%);
  --black: hsl(0, 0%, 8%);
}

* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

body {
  background-color: var(--white);
  border: 0;
  font-family: "Epilogue", "Inter", sans-serif;
  height: 100vh;
  outline: none;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: var(--black);
}

p {
  text-align: justify;
  color: var(--Gray);
}

a {
  color: var(--black);
}

/* Navbar start */
header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding: 5vh 3vw 0;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

header img.logo {
  height: calc(3% + 1.5rem);
  margin-right: 2vw;
  width: calc(2vw + 4rem);
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

header nav ul.left {
  flex: 3 0 70%;
  list-style: none;
  margin: 0 calc(40vw - 14rem) 0 0;
}

header nav ul li {
  float: left;
  margin: 0 1vw;
}

.close {
  display: none;
}

/* dropdown icon */
header nav ul.left li.dropdown::after {
  content: "";
  background-image: url(/images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  padding: 1rem 0.5rem;
  position: relative;
  top: 1.2rem;
  right: 0;
  left: 0.5rem;
  width: 100%;
}

header nav ul.left li ul.features {
  display: none;
  position: absolute;
  left: 10%;
  background-color: #fff;
  border-radius: 0.3rem;
  box-shadow: 3px 3px 12px 3px rgba(0, 0, 0, 0.5);
  padding: 1.5vh 0;
  width: 10rem;
  list-style: none;
}

/* class utk mainin toggle */
header nav ul.left li ul.features.active{
  display: block;
}

header nav ul.left li ul.features li {
  width: 100%;
  margin: 1.5vh 1.5rem;
}

header nav ul.left li ul.company {
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 0.3rem;
  box-shadow: 3px 3px 12px 3px rgba(0, 0, 0, 0.5);
  padding: 1.5vh 0;
  width: 7rem;
  list-style: none;
}

/* class untuk mainin toggle */
header nav ul.left li ul.company.active{
  display: block;
}

header nav ul.left li ul.company li {
  width: 100%;
  margin: 1.5vh 1.5rem;
}

header nav ul.right {
  flex: 1 0 30%;
  list-style: none;
  width: 100%;
}

header nav ul.right li {
  float: left;
  margin: 0 1vw 2vw 0;
}

header nav ul.right li:nth-child(1) {
  padding: 0.5rem 0 0;
}

header nav ul.right li:nth-child(2) {
  padding: 0.5rem 1rem;
  border: 1px solid #000;
  border-radius: 0.5rem;
}

#hamburger-menu {
  display: none;
}

/* Navbar end */

/* Hero start */
.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  padding: 8vh 5vw 0;
  width: 100vw;
}

.hero-txt {
  display: inline-block;
  margin-right: 9vw;
  width: calc(25vw + 5rem);
}

.hero-img {
  display: inline-block;
  margin-left: 9vw;
  width: calc(25vw + 5rem);
}

.hero-img img {
  width: calc(65% + 5rem);
}

.hero-h1 {
  font-size: calc(3vw + 1rem);
  padding: 10vh 0 0;
}

.hero-p {
  padding: 6vh 0;
}

.special-button {
  background-color: transparent;
  border-radius: 0.5rem;
  border: 1px solid #000;
  margin: 2vh 0;
  padding: 0.5rem 1rem;
  color: #000;
  position: relative;
  top: 0;
  left: 0;
  right: 33vw;
}

.partner-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.partner-links .partner-logo {
  display: inline-block;
  margin: 10vh 0 0;
  height: 50%;
  width: calc(15% + 2rem);
}
/* Hero end */

.attribution {
  height: 2vh;
  width: 100vw;
  font-size: smaller;
  position: relative;
  top: 9%;
  bottom: 0;
}

@media (max-width: 790px) {
  /* Navbar start */
  /* ul.left & ul.right sudah berada di bawah nav */

  header {
    padding: 3vh;
  }

  header nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    height: 100vh;
    width: 60vw;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 110%; /* 40%*/
    z-index: 999;
  }

  header nav ul.left {
    flex: 0;
    list-style: none;
    margin: 0;
  }

  header nav ul li {
    display: block;
    float: none;
    margin: 2vh;
  }

  .close {
    display: block;
    padding: 0.5rem;
    position: relative;
    right: 0;
    left: 65%;
    width: vw;
  }

  .close img {
    width: 7vw;
  }

  #hamburger-menu {
    display: block;
    height: 1rem;
    width: 1.5rem;
    position: relative;
    right: 0;
    left: 70%;
  }

  /* dropdown icon MALAH GESER KE BAWAH SUBMENU*/
  header nav ul.left li.dropdown::after {
    content: "";
    background-image: url(/images/icon-arrow-down.svg);
    background-repeat: no-repeat;
    padding: 1rem 0.5rem;
    position: relative;
    top: 1.2rem;
    right: 0;
    left: 0.5rem;
    width: 100%;
  }

  header nav ul.left li ul.features.active {
    display: block;
    position: relative;
    left: 0;
    background-color: #fff;
    border-radius: 0.3rem;
    box-shadow: none;
    padding: 1.5vh 0;
    width: 10rem;
    list-style: none;
  }

  header nav ul.left li ul.features li {
    width: 100%;
    margin: 1.5vh 1.5rem;
  }

  header nav ul.left li ul.company.active {
    display: block;
    position: relative;
    background-color: #fff;
    border-radius: 0.3rem;
    box-shadow: none;
    padding: 1.5vh 0;
    width: 7rem;
    list-style: none;
  }

  header nav ul.left li ul.company li {
    width: 100%;
    margin: 1.5vh 1.5rem;
  }

  header nav ul.right {
    flex: 0;
    list-style: none;
    width: 100%;
    text-align: center;
  }

  header nav ul.right li {
    float: none;
    margin: 2vw;
  }

  header nav ul.right li:nth-child(1) {
    padding: 0.5rem 0 0;
  }

  header nav ul.right li:nth-child(2) {
    padding: 0.5rem 1rem;
    border: 1px solid #000;
    border-radius: 0.5rem;
  }

  /* Navbar end */

  .hero {
    margin: 0;
    padding: 0;
  }

  .hero-txt {
    margin-right: 0;
    width: 100%;
  }

  .hero-img {
    margin-left: 0;
    width: 100%;
  }

  .hero-img img {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .hero-h1 {
    text-align: center;
    font-size: calc(4vw + 1rem);
    padding: 2vh 0;
  }

  .hero-p {
    font-size: 4vw;
    margin: 0 0 5vh;
    padding: calc(1vw + 0.5rem);
    text-align: center;
  }

  .special-button {
    background-color: var(--black);
    border-radius: 0.5rem;
    margin: 2vh 0;
    padding: 0.5rem 1rem;
    color: var(--white);
    position: relative;
    top: 0;
    left: 33vw;
    right: 33vw;
  }

  .partner-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5vh 5vw 0;
  }

  .partner-links .partner-logo {
    display: inline-block;
    margin: 1vh 0;
    height: 50%;
    width: calc(15% + 1rem);
  }
}
